.OCT_2024 {
    position: relative;
    min-height: 100vh;
    background: #0000ff;
    /* основной синий фон */
    color: #fff;
    font-family: 'Press Start 2P', monospace;
    overflow: hidden;
}

/* Пиксельная сетка */
.pixel-bg {
    position: absolute;
    inset: 0;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 16px 16px;
    /* размер пикселей */
    pointer-events: none;
    opacity: 0.6;
    /* прозрачность сетки */
}