.START {
  background: #0000FF;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  z-index: 1;
}

.START h3 {
  font-size: 102px;
}