.START {
  height: 100svh;
  width: 100%;
  background: #0000FF;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  z-index: 1;

  position: absolute;
}

.START h3 {
  font-size: 88px;
}