#date {
  position: fixed;
  top: 30px;
  right: 30px;
  font-family: 'Press Start 2P', monospace;
  font-size: 10px;
  padding: 10px 16px;
  margin-bottom: 12px;
  background: #1d1d1d;
  color: #ffffff;
  border: 4px solid #000;
  border-radius: 0;
  box-shadow:
    4px 4px 0 #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
}

#speed_controls {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 8px;
  z-index: 10;
  /* чтобы всё выглядело аккуратно по сетке */
  align-items: center;
}


/* базовая кнопка */
.speed-btn {
  font-family: 'Press Start 2P', monospace;
  font-size: 10px;

  padding: 10px 14px;
  min-width: 64px;

  background: #c7c7c7;
  color: #000;

  border: 4px solid #000;
  border-radius: 0;

  box-shadow:
    4px 4px 0 #000;

  cursor: pointer;
  text-transform: uppercase;

  transition: transform 0.05s steps(2),
              background 0.05s steps(2);
}

/* hover */
.speed-btn:hover {
  background: #e0e0e0;
}

/* active (нажатие) */
.speed-btn:active {
  transform: translate(2px, 2px);
  box-shadow:
    2px 2px 0 #000;
}

/* выбранная скорость */
.speed-btn.active {
  background: #00e436;
  box-shadow:
    inset 2px 2px 0 #000,
    inset -2px -2px 0 #000;
}

/* фокус с клавиатуры */
.speed-btn:focus {
  outline: 4px dashed #000;
  outline-offset: 4px;
}
