@import url("./utils.css");
@import url("./components.css");

@import url("./sections/START.css");
@import url("./sections/OCT_2024.css");
@import url("./sections/NOV_2024.css");
@import url("./sections/DEC_2024.css");
@import url("./sections/JAN_2025.css");
@import url("./sections/FEB_2025.css");
@import url("./sections/MAR_2025.css");
@import url("./sections/APR_2025.css");
@import url("./sections/MAY_2025.css");
@import url("./sections/JUN_2025.css");
@import url("./sections/JUL_2025.css");
@import url("./sections/AUG_2025.css");
@import url("./sections/SEP_2025.css");
@import url("./sections/OCT_2025.css");
@import url("./sections/NOV_2025.css");
@import url("./sections/DEC_2025.css");
@import url("./sections/TUTORIAL.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html,
body {
  min-height: 100svh;
  height: 100%;
  background-color: black;
}

#app {
  position: relative;
}

.sections {
  height: 100%;
  display: flex;
  flex-direction: column;
}

section {
  height: 100svh;
  flex-shrink: 0;
  position: relative;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}