@import url("./elevator_human.css");
@import url("./HUD.css");
@import url("./section1.css");
@import url("./utils.css");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100svh;
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.section {
  height: 100svh;
  flex-shrink: 0;
  position: relative;
  border: 1px solid black;
}
