@import url("./utils.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  min-height: 100svh;
}

#app {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0000ff;
}

#elevator {
  position: fixed;
  top: 50%;
  left: 2%;
  transform: translate(0, -50%); /* смещаем центр элемента к точке top/left */
  border: 1px solid black;

  width: 100px;
  height: 200px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

#date {
  position: fixed;
  top: 2%;
  right: 2%;
  background-color: lightblue;  
  border: 1px solid black;
  padding: 5px 10px;
}

.section {
  height: 100svh;
  border: 1px solid black;
  flex-shrink: 0;
}

#start {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: red;
}
/* 
.start_title {
  z-index: 11;
} */