#btn_start {
  font-family: "Press Start 2P", monospace;
  font-size: 16px;

  padding: 16px 32px;
  margin-top: 40px;

  background: #00ff88;
  color: #000;

  border: 4px solid #000;
  box-shadow:
    4px 4px 0 #000,
    8px 8px 0 #00aa55;

  cursor: pointer;
  text-transform: uppercase;

  image-rendering: pixelated;
}

#btn_start:hover {
  transform: translate(4px, 4px);
  box-shadow:
    2px 2px 0 #000,
    4px 4px 0 #00aa55;
}

#btn_start:active {
  transform: translate(8px, 8px);
  box-shadow: none;
}

#btn_start {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}