.font-p2 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.pixel-btn {
  font-family: 'Press Start 2P', monospace;
  font-size: 12px;
  padding: 14px 24px;

  background: #ffcc00;
  color: #000;

  border: 4px solid #000;
  border-radius: 0;

  box-shadow:
    4px 4px 0 #000;

  cursor: pointer;
  text-transform: uppercase;
}

.pixel-btn:hover {
  background: #ffe066;
}

.pixel-btn:active {
  box-shadow:
    2px 2px 0 #000;
  transform: translate(2px, 2px);
}